[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pylint = "*"
autopep8 = "*"
tensorflow-datasets = "*"
imageai = "*"
opencv-python = "*"
tk = "*"
pyqt5 = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.8"
