[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
autopep8 = "*"
imageai = "*"
opencv-python = "*"
pyqt5 = "*"
face-recognition = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
